.display {
  position: relative;

  overflow: visible;

  min-height: 100vh;

  @include respond-to(md) {
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
  }

  &__header {
    width: 100%;
  }

  &__menu {
    width: 250px;
  }

  &--blocked {
    overflow: hidden;

    height: 100vh;
  }
}
