.infographics {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include respond-to(lg) {
    flex-flow: row nowrap;
  }

  &__item {
    padding: 19px 10px 7px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include respond-to(lg) {
      align-items: flex-end;
      padding: 0 20px;
    }
  }

  &__line {
    display: block;
    color: white;
    text-transform: uppercase;
    line-height: 1;

    @include make-ff-nova(11px, 300);

    @include respond-to(lg) {
      letter-spacing: 0.8px;

      color: rgb(52,54,77);

      font-family: $ff-monserrat;
      font-size: 10px;
      font-weight: 700;
    }

    &--emphasis {
      font-family: $ff-monserrat;
      font-size: 18px;
      font-weight: 500;

      @include respond-to(lg) {
        font-size: 28.5px;
        font-weight: 700;
      }
    }
  }
}
