.menu {
  $p: 20px;

  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  height: 100vh;

  transition: .4s all ease-in;

  @include respond-to(md) {
    position: relative;
    z-index: 0;
    top: auto;
    left: auto;

    width: 250px;
    height: auto;
  }


  &--collapsed {
    display: none;

    width: 0;

    @include respond-to(md) {
      display: flex;

      width: 250px;
    }
  }

  &__side-menu {
    overflow-y: scroll;

    width: 73.5%;
    min-width: 275px;
    height: 100%;
    padding: 7px 0;

    background-image: linear-gradient(to bottom, $bg-darkest 92px, $bg-dark-500);

    @include respond-to(md) {
      overflow-y: auto;
      min-width: 0;
      width: 100%;
      padding: 0;
    }
  }

  &__lining {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    transition: background-color .4s ease-in;

    background-color: rgba(49, 48, 59, 0);

    .menu:not(.menu--collapsed) & {
      z-index: -1;

      background-color: rgba(49, 48, 59, 0.8);
    }
  }

  &__block {
    position: relative;

    margin: 0 $p;

    @include respond-to(md) {
      margin: 0;
    }

    &--divider {
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 1px;

        content: '';

        background-color: #3e4155;
      }
    }
  }

  &__jot-info {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    min-height: 66px;

    @include respond-to(md) {
      display: none;
    }
  }

  &__infographics {
    width: 73.5%;
    min-width: 275px;

    background-color: $bg-dark-300;
  }

  &__add-jot {
    width: 26.5%;
  }

  &__profile {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;

    padding: $p 26px;

    @include respond-to(md) {
      padding: 0 6px 22px;
      margin: 26px 20px 0;
    }
  }

  &__user {
    max-width: 185px;
    margin-bottom: 22px;
  }

  &__item {
    width: 100%;
  }

  &__list {
    margin-bottom: 5px;
    padding: 5px 0;

    list-style: none;

    @include respond-to(md) {
      margin-bottom: 15px;
    }

    &--level {
      &--two {
        margin: 0;
        padding: 7px 0;

        background-color: $bg-darkest;
      }
    }

    &--help {
      padding: 2px 0;
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    position: relative;

    min-width: 185px;
    padding: 20px 40px 14px;

    text-transform: uppercase;

    color: rgb(177, 183, 199);

    @include make-ff-nova(14px, 400);

    @include respond-to(md) {
      padding: 15px 24px 14px 34px;
      display: flex;
      align-items: center;

      li:not(:last-of-type) & {
        margin-bottom: 5px;
      }
    }

    &--level {
      &--two {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        justify-content: flex-start;

        padding: 8px 0 8px 33px;

        text-transform: capitalize;

        @include respond-to(md) {
          padding: 5px 0 5px 25px;
        }
      }
    }

    &--active {
      background-color: $bg-dark-300;
      color: #7b96c4;
      border-right: 4px solid #85a4be;
    }

    &[data-message] {
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        right: 24px;

        display: inline-block;

        min-width: 68px;
        padding: 3px 10px;

        content: attr(data-message);
        transform: translateY(-50%);
        text-align: center;
        text-transform: lowercase;

        color: white;
        border-radius: 2px;
        background-color: $color-event;
        text-shadow: 0 0 7px rgba(1, 13, 46, 0.46);

        font-family: $ff-monserrat;
        font-size: 11px;
        font-style: normal;
        line-height: 1;
      }
    }

    &--help {
      padding: 8px 46px 5px;

      @include respond-to(md) {
        text-transform: capitalize;

        line-height: 100%;
        padding: 5px 35px 5px;
        margin-bottom: 40px;
      }

      & .menu__link-icon { display: none; }
    }

    &-icon {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 20px;
      height: 20px;
      margin-right: 15px;

      .menu__link--level--two & {
        margin-right: 25px;
      }

      &:before {
        display: block;

        content: '';
      }

      &--liststyle {
        &:before {
          position: absolute;
          top: 48%;
          left: calc(50% + 9px);

          width: 6px;
          height: 6px;

          transform: translate(-50%, -50%);

          border-radius: 100%;
          background-color: #fff;
        }

        &--green:before {
          background-color: #7fff75;
        }
        &--blue:before {
          background-color: #75c0ff;
        }
        &--purple:before {
          background-color: #b375ff;
        }
        &--orange:before {
          background-color: #ffb375;
        }
        &--grey:before {
          background-color: #969696;
        }
      }

      & use {
        fill: rgba(#d3d9e4, .75);

        .menu__link--active & {
          fill: rgba(#7b96c4, 1);
        }
      }
    }

    &-text {
      display: inline-block;
    }
  }

  &__sign-out {
    margin-bottom: 10px;
    padding: 0 26px;
  }

  &__logotype {
    display: none;

    @include respond-to(md) {
      display: block;
      padding: 35px 44px 27px;
      background-color: $bg-dark-400;
      margin-bottom: 7px;
    }
  }

  &__dropdown-icon {
    margin-left: 24px;
    transform: rotate(0);
    transition: transform ease-in .2s;

    & use {
      fill: rgba(white, .62);
    }

    [aria-expanded="true"] & {
      transform: rotate(180deg);
    }
  }
}
