.search {
  position: relative;
  min-width: 375px;
  z-index: 1;

  &__label {
    display: block;
    position: absolute;
    top: 50%;
    left: 7px;
    width: calc(100% - 7px);
    transform: translateY(-50%);
    font-family: $ff-monserrat;
    font-weight: 500;
    font-size: 17px;
    color: #0c3755;
    margin: 0;
    z-index: -1;
    transition: color .1s ease-in;


    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      left: -7px;
      width: 0%;
      height: 1px;
      background-color: #0c3755;
      transition: width .2s ease-in;
    }

    .search__input:invalid ~ & {
      display: block;
    }

    .search__input:focus ~ & {
      color: transparent;

      &:before {
        width: calc(100% + 7px);
      }
    }

    .search__input:valid ~ & {
      color: transparent;
    }
  }


  &__input {
    padding: 0;
    border: none;
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 2px 5px;
    font-family: $ff-monserrat;
    font-weight: 500;
    font-size: 17px;
    color: #0c3755;

    &:invalid {
      outline: none;
      box-shadow: none;
    }

    &:active {

    }
  }
}
