.tools {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  height: 100%;
  margin: 0;
  padding: 0 15px;

  list-style: none;

  border-right: solid 1px rgba(#34364d, .2);

  &__item {
    position: relative;

    display: flex;

    margin: 0 15px;
    padding: 5px 2px;
  }

  &__name {
    font-size: 0;

    &[data-notification="true"]:after {
      position: absolute;
      top: 0;
      right: 0;

      display: block;

      width: 6px;
      height: 6px;

      content: '';

      border-radius: 100%;
      background-color: $color-event;
    }
  }

  &__icon {
    fill: #83a2bd;
  }

  &__link {
    display: flex;
  }
}
