<form class="filter">
  <div class="filter__top">
    <div class="filter__select">
      <select class="filter__select-input" name="">
        <option value="1">Categories</option>
        <option value="2">Categories2</option>
        <option value="3">Categories3</option>
        <option value="0">Categories4</option>
      </select>
    </div>

    <ul class="filter__tabs">
      <li class="filter__tabs-item">
        <a class="filter__icon filter__icon--filters" href="#">Settings</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">All</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn active" href="#">Active</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">Deployed</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">Draft</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">Successful</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">Favorites</a>
      </li>
    </ul>

    <ul class="filter__visual">
      <li class="filter__visual-item">
        <a href="" class="filter__icon  filter__icon--vis-box">Display blocks</a>
      </li>

      <li class="filter__visual-item">
        <a href="" class="filter__icon  filter__icon--vis-rows">Display rows</a>
      </li>
    </ul>
  </div>

  <div class="filter__bottom">
    <ul class="filter__bottom-section filter__tabs filter__tabs--bottom">
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">Coming Soon</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn active" href="#">Private Sales</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">PRE ICO</a>
      </li>
      <li class="filter__tabs-item">
        <a class="filter__tabs-btn" href="#">ICO</a>
      </li>
    </ul>

    <p class="filter__bottom-section filter__rating">
      Raiting
      <span class="filter__icon filter__icon--star"></span>
      <span class="filter__icon filter__icon--star"></span>
      <span class="filter__icon filter__icon--star"></span>
      <span class="filter__icon filter__icon--star-grey"></span>
      <span class="filter__icon filter__icon--star-grey"></span>
    </p>

    <p class="filter__bottom-section filter__range">
      Invest
      <span class="filter__range-input">
        <span class="filter__range-name">5 ETH</span>
        <span class="filter__range-line">
          <span class="filter__range-toggler"></span>
          <span class="filter__range-toggler"></span>
        </span>
        <span class="filter__range-name">79 ETH</span>
      </span>
    </p>

    <p class="filter__bottom-section filter__checkbox">
      Invest <input type="checkbox">
    </p>
  </div>
</form>
