{% import 'lib/icon.njk' as icon %}
{% import 'lib/dropdown.njk' as dropdown %}
{% import 'partials/blocks/search-bar.njk' as search %}
{% import "partials/blocks/infographics.njk" as infographics %}
{% import 'partials/blocks/tools.njk' as tools %}
{% import 'partials/blocks/logotype.njk' as logotype %}

<div class="header">
  <div class="header__logotype">
    {{ logotype.make('header__logotype-link') }}
  </div>

  <div class="container-fluid">
    <div class="row header__wrapper">
      <header class="col-12 header__content">
        <div class="header__block header__search">
          <a href="#" class="toggle header__toggle header__toggle--small">Side menu toggler</a>
          {# {{ search.make() }} #}
        </div>

        <div id="infographics" class="header__block header__infographics">

          {{ infographics.make( datasets['infographics.json'] ) }}

          <div class="header__add-jot">
            <a href="#" class="button button--theme--bright header__add-jot-btn">Buy ETH</a>
          </div>
        </div>

        <div class="header__block header__toolbar">
          <div class="header__toolbar-item">
            <a id="menu-toggler" href="#menu" data-toggle data-target='["side-menu", "infographics", "display"]' class="toggle header__toggle">Side menu toggler</a>
          </div>

          <div class="header__toolbar-item">
            <a href="#" class="logotype header__logotype header__logotype--mobile">
              <img class="header__logotype-img" src="assets/imgs/logotype.png" alt="Jury.Online Logotype" width="110" height="20">
            </a>
          </div>

          {{ tools.make( datasets['tools.json'], 'tools--align--right header__toolbar-item') }}


            {% set link %}
            <span class="ethereum-net__text">Ethereum Nain Net</span>
            <span class="ethereum-net__img">
              <img src="assets/imgs/fox-placeholder.png" alt="Awesome fox" width="43" height="45">
              {{ icon.make('dpdw_arrow', 'ethereum-net__icon') }}
            </span>
            {% endset %}

            {% set content %}
              <p class="ethereum-net__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
            {% endset %}

            {{ dropdown.make(link, content, 'ethereum-net-dropdown', 'dropdown--align--right ethereum-net header__ethereum-net', false) }}

        </div>

      </header>
    </div>
  </div>
</div>
