<nav class="menu">
  <button class="navbar-toggler" type="button" data-target="#menu" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="" href="#">Navbar</a>

  <div id="menu">
    
  </div>
</nav>
