@import 'fonts/base.scss';
@import './variables/base.scss';

body {
  min-width: 350px;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  @include respond-to(md) {
    height: 100vh;
  }
}

@import './svg-sprite/base.scss';
@import './blocks/base.scss';
