{% import 'lib/icon.njk' as icon %}
{% import "lib/mods.njk" as MODS %}

{% macro make(tools, mods) %}

<ul class="tools{{ MODS.parse(mods) }}">
  {% for tool in tools %}

  <li class="tools__item">
    <a href="{{ tool.href }}" class="tools__link">
      {{ icon.make(tool.icon, 'tools__icon') }}<span class="tools__name" data-notification="{{ tool.notify }}">{{ tool.name | capitalize }}</span>
    </a>
  </li>

  {% endfor %}
</ul>

{% endmacro %}
