$bg-darkest: rgb(35, 38, 65);
$bg-dark-100: rgb(41, 45, 70);
$bg-dark-200: rgb(45, 46, 73);
$bg-dark-300: rgb(47, 51, 78); // Brand color
$bg-dark-400: rgb(52, 54, 77);
$bg-dark-500: rgb(57, 61, 82);

$bg-light: rgb(234, 238, 247); // Base color

$color-active: rgb(117, 162, 193);
$color-devider: rgb(137, 137, 137);
$color-event: rgb(255, 120, 100);
