/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), local("Proxima Nova"), local("ProximaNova"), url("../assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  min-width: 350px; }

.logotype__img {
  margin-top: 10px; }

.heading {
  margin-bottom: 0;
  color: #34364d;
  font-family: "Proxima Nova", sans-serif;
  font-size: 23px;
  font-weight: 500;
  font-style: normal; }
  .heading-caption {
    margin-bottom: 5px;
    color: #34364d;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal; }

.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
          box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal; }
  .vote__question {
    margin: 0 90px 0 30px; }
  .vote__icon {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    width: 39px;
    height: 39px;
    background-image: url("../assets/imgs/icon-puzzles.png"); }
  .vote__btn {
    margin: 0 7px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0; }
    .vote__btn--like {
      width: 20px;
      height: 22px;
      background-image: url("../assets/imgs/icon-like.png"); }
    .vote__btn--dislike {
      width: 20px;
      height: 22px;
      background-image: url("../assets/imgs/icon-dislike.png"); }

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit; }

.icon__bell {
  font-size: 20px;
  width: 0.9015em; }

.icon__blob {
  font-size: 17px;
  width: 1.05882em; }

.icon__calendar {
  font-size: 17px;
  width: 0.76294em; }

.icon__dropdown-arrow {
  font-size: 6px;
  width: 1.83333em; }

.icon__feed {
  font-size: 16px;
  width: 0.99813em; }

.icon__filters {
  font-size: 19px;
  width: 1.05263em; }

.icon__folder {
  font-size: 15px;
  width: 1.13333em; }

.icon__fox-head {
  font-size: 45px;
  width: 0.95556em; }

.icon__gear {
  font-size: 16px;
  width: 0.99813em; }

.icon__profile {
  font-size: 17px;
  width: 0.93765em; }

.icon__search {
  font-size: 17px;
  width: 1em; }

.icon__search use {
  fill: #34364d;
  fill-rule: evenodd; }

.button {
  display: inline-block; }
  .button--theme--bright {
    display: inline-block;
    width: 100%;
    padding: 21px 0px 18px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    line-height: 1;
    color: white;
    background-color: #ff7864;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal; }
    @media (min-width: 768px) {
      .button--theme--bright {
        padding: 13px 33px 10px;
        border-radius: 7px;
        letter-spacing: 0.2px; } }
  .button--theme--empty {
    display: inline-block;
    width: auto;
    min-width: 184px;
    padding: 12px 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: white;
    border: solid 2px #83a2bd;
    border-radius: 7px;
    text-shadow: 0.7px 0.7px 2px rgba(10, 26, 53, 0.27);
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal; }
    @media (min-width: 768px) {
      .button--theme--empty {
        min-width: 190px;
        padding-top: 10px;
        padding-bottom: 10px; } }
  .button--theme--empty-dimmed {
    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: #8d91b9;
    border: solid 1px #5b5a7f;
    border-radius: 3px;
    text-shadow: 1.4px 1.4px 3px rgba(10, 26, 53, 0.35);
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal; }
  .button--sign-out {
    width: 189px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px rgba(10, 26, 53, 0.35);
    font-size: 15px;
    font-weight: normal; }

.infographics {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 768px) {
    .infographics {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }
  .infographics__item {
    padding: 19px 10px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) {
      .infographics__item {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        padding: 0 20px; } }
  .infographics__line {
    display: block;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style: normal; }
    @media (min-width: 768px) {
      .infographics__line {
        letter-spacing: 0.8px;
        color: #34364d;
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 700; } }
    .infographics__line--emphasis {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 500; }
      @media (min-width: 768px) {
        .infographics__line--emphasis {
          font-size: 28.5px;
          font-weight: 700; } }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  @media (min-width: 768px) {
    .user {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  .user__img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 8.5px; }
  .user__info {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .user__name {
    text-transform: capitalize;
    line-height: 29px;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 23px;
    font-weight: 500;
    font-style: normal; }
  .user__job {
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: white; }

.search {
  position: relative;
  z-index: 1;
  min-width: 315px;
  padding-left: 32px; }
  .search__input {
    position: absolute;
    display: block;
    width: calc(100% - 17px);
    height: 100%;
    padding: 0;
    padding: 2px 0;
    color: #232641;
    border: none;
    background-color: transparent;
    font-family: "Proxima Nova", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal; }
    .search__input:invalid {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .search__text {
    display: inline-block;
    width: auto;
    margin: 0;
    -webkit-transition: color ease-in .1s;
    transition: color ease-in .1s;
    color: #232641;
    line-height: 33px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal; }
    .search__input:focus ~ .search__text {
      color: transparent; }
    .search__input:valid ~ .search__text {
      color: transparent; }
  .search__label {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 32px;
    display: block;
    width: calc(100% - 32px);
    height: 100%;
    margin: 0;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #232641;
    font-family: "Proxima Nova", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal; }
    .search__label:before, .search__label:after {
      position: absolute;
      bottom: 0;
      left: 0px;
      display: block;
      width: calc(100% + 0px);
      height: 1px;
      content: '';
      background-color: rgba(35, 38, 65, 0.2); }
    .search__label:after {
      width: 0%;
      -webkit-transition: width .2s ease-in;
      transition: width .2s ease-in;
      background-color: #0c3755; }
    .search__input:invalid ~ .search__label {
      display: block; }
    .search__input:focus ~ .search__label {
      color: transparent; }
      .search__input:focus ~ .search__label:after {
        width: calc(100% + 0px); }
    .search__input:valid ~ .search__label {
      color: transparent; }
  .search__icon {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 17px;
    -webkit-transform: translate(calc(-100% - 15px), -50%);
            transform: translate(calc(-100% - 15px), -50%); }

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: solid 1px rgba(52, 54, 77, 0.2); }
  @media (min-width: 768px) {
    .tools {
      padding: 0 15px; } }
  .tools--align--right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .tools__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
    padding: 5px 2px; }
  .tools--align--right .tools__item:last-child {
    margin-right: 0; }
  .tools__name {
    font-size: 0; }
    .tools__name[data-notification="true"]:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 6px;
      height: 6px;
      content: '';
      border-radius: 100%;
      background-color: #ff7864; }
  .tools__icon {
    fill: white; }
    @media (min-width: 768px) {
      .tools__icon {
        fill: #83a2bd; } }
  .tools__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.dropdown {
  position: relative; }
  .dropdown__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  .dropdown__content {
    position: absolute;
    z-index: 1;
    top: calc(100% + 20px);
    left: 0; }
  .dropdown--align--right .dropdown__content {
    left: auto;
    right: 0; }

.ethereum-net__text {
  max-width: 70px;
  color: #34364d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1; }

.ethereum-net__content {
  min-width: 250px;
  padding: 5px 17px;
  background-color: #232641;
  color: #b1b7c7; }

.ethereum-net__img {
  margin-left: 20px;
  position: relative;
  z-index: 0; }
  .ethereum-net__img:before {
    position: absolute;
    content: '';
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    display: block;
    background-color: white;
    z-index: -1;
    left: 45%;
    top: 51%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100%;
    -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
            box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09); }

.ethereum-net__icon {
  position: absolute;
  bottom: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.ethereum-net .dropdown__content {
  top: calc(100% + 24px);
  right: -4px; }

.filter {
  position: relative;
  z-index: 0;
  width: 100%; }
  .filter__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 62px;
    padding: 0 32px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
            box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09); }
  .filter__bottom {
    position: relative;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: calc(100% - 266px);
    min-height: 76px;
    margin-top: -16px;
    margin-left: auto;
    padding-top: 16px;
    border: solid 1px #cdcdcd;
    border-radius: 10px;
    -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(224, 237, 245, 0.35);
            box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(224, 237, 245, 0.35); }
    .filter__bottom-section {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0;
      padding-right: 20px;
      padding-left: 20px;
      color: #888888;
      border-right: 1px solid rgba(52, 54, 77, 0.1);
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal; }
  .filter__select {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    width: 235px;
    border-right: 1px solid rgba(52, 54, 77, 0.1); }
    .filter__select-input {
      width: 220px;
      padding: 2px 6px;
      color: #34364d;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-family: "Proxima Nova", sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal; }
  .filter__tabs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    padding: 0 5px;
    list-style: none;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .filter__tabs--bottom {
      padding: 0; }
    .filter__tabs-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0px 27px; }
    .filter__tabs-btn {
      display: inline-block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      padding: 5px 10px 3px;
      color: #888888;
      border-bottom: 2px solid transparent;
      line-height: 1;
      font-family: "Proxima Nova", sans-serif;
      font-size: 17px;
      font-weight: 500;
      font-style: normal; }
      .filter__tabs-btn:hover {
        text-decoration: none; }
      .filter__tabs-btn.active {
        color: #34364d;
        border-color: #ff7765; }
    .filter__tabs--bottom .filter__tabs-btn {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px; }
      .filter__tabs--bottom .filter__tabs-btn.active {
        border-color: #83a2bd; }
  .filter__visual {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-width: 140px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .filter__visual-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 30px;
      padding: 0; }
  .filter__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 0; }
    .filter__icon--filters {
      width: 20px;
      height: 19px;
      background-image: url("../assets/imgs/icon-filters.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }
    .filter__icon--vis-box {
      width: 19px;
      height: 16px;
      background-image: url("../assets/imgs/icon-visual-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }
    .filter__icon--vis-rows {
      width: 16px;
      height: 16px;
      background-image: url("../assets/imgs/icon-visual-2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }
    .filter__icon--star {
      width: 15px;
      height: 15px;
      background-image: url("../assets/imgs/icon-star.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }
    .filter__icon--star-grey {
      width: 15px;
      height: 15px;
      background-image: url("../assets/imgs/icon-star-grey.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%; }
  .filter__rating span {
    margin-left: 5px; }
    .filter__rating span:first-child {
      margin-left: 20px; }
  .filter__checkbox {
    border-right: none; }
    .filter__checkbox input {
      margin-left: 10px; }
  .filter__range {
    padding-right: 14px; }
    .filter__range-input {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 4px; }
    .filter__range-name {
      padding-right: 11px;
      padding-left: 11px;
      color: #34364d;
      font-weight: 600; }
    .filter__range-line {
      position: relative;
      display: inline-block;
      width: 193px;
      height: 2px;
      background-color: #888888; }
      .filter__range-line:after {
        position: absolute;
        top: 0;
        left: 30px;
        display: block;
        width: 110px;
        height: 100%;
        content: '';
        background-color: #83a2bd; }
    .filter__range-toggler {
      position: absolute;
      z-index: 1;
      display: inline-block;
      width: 17px;
      height: 17px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border-radius: 100%;
      background-color: white;
      -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }
      .filter__range-toggler:first-child {
        left: 22px; }
      .filter__range-toggler:last-child {
        left: 129px; }

.rec-card {
  width: 377px;
  min-height: 209px;
  border-radius: 10px;
  background-image: linear-gradient(178deg, #c28cda, #8b55c4);
  padding: 15px 17px;
  position: relative; }
  .rec-card:after {
    display: block;
    content: '';
    width: 205px;
    height: 206px;
    background-image: url("../assets/imgs/rec-card-bg.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -15px;
    right: -20px; }
  .rec-card__logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../assets/imgs/icon-rec-card-placeholder.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; }
  .rec-card__heading {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 10px; }
    .rec-card__heading-text {
      font-family: "Proxima Nova", sans-serif;
      font-size: 26px;
      font-weight: 500;
      font-style: normal;
      text-shadow: 0.7px 0.7px 4px rgba(0, 0, 0, 0.09);
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      line-height: 1;
      margin-left: 12px; }
      .rec-card__heading-text small {
        font-size: 17px;
        text-shadow: 0.7px 0.7px 4px rgba(0, 0, 0, 0.09);
        font-weight: normal; }
  .rec-card__schedule {
    margin: 0 -17px 10px;
    padding: 13px 17px 10px;
    background-color: #7a6193;
    line-height: 1;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 19px;
    font-weight: 500;
    font-style: normal; }
    .rec-card__schedule-name {
      color: #b3d7ff; }
  .rec-card__about {
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2.8px 2.8px 5px rgba(28, 12, 67, 0.14); }
    .rec-card__about small {
      font-weight: 300;
      font-size: 100%;
      text-transform: uppercase; }
  .rec-card__date {
    margin-bottom: 0;
    line-height: 1.15; }
  .rec-card__min-invest {
    margin-bottom: 0;
    line-height: 1.15; }
  .rec-card__rating {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    border-radius: 13px;
    background-color: rgba(52, 54, 77, 0.5);
    padding: 7px 14px 5px;
    line-height: 1; }
    .rec-card__rating span {
      margin-right: 5px;
      margin-bottom: 4px; }
      .rec-card__rating span-last-of-type {
        margin-right: 20px; }
  .rec-card__tags {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0; }
  .rec-card__tag {
    margin-left: 10px;
    background-color: rgba(52, 54, 77, 0.5);
    border-radius: 100%;
    padding: 5px 4px 3px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2.1px 2.1px 22.1px rgba(224, 237, 245, 0.35);
    color: #dc6f1f;
    line-height: 21px; }
  .rec-card__info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0; }

.project-card {
  width: 285px;
  min-height: 154px;
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(224, 237, 245, 0.35);
          box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(224, 237, 245, 0.35); }
  .project-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-bottom: 14px; }
  .project-card__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 0;
    margin-left: 10px; }
  .project-card__logo {
    width: 52px;
    height: 52px;
    background-image: url("../assets/imgs/icon-project-card-placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .project-card__name {
    margin-bottom: 6px;
    color: #34364d;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 21px;
    font-weight: 500;
    font-style: normal; }
  .project-card__type {
    color: rgba(58, 58, 58, 0.8);
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal; }
  .project-card__state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-bottom: 0;
    line-height: 1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal; }
  .project-card__status {
    display: inline-block;
    min-width: 72px;
    margin-bottom: 6px;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    color: #30496a;
    border-radius: 4px;
    background-image: linear-gradient(135deg, rgba(101, 187, 255, 0.6), rgba(0, 115, 207, 0.6)); }
  .project-card__time-left {
    text-align: center;
    color: #3c6f7c; }
  .project-card__descr {
    margin-bottom: 10px;
    padding-bottom: 8px;
    color: #31344c;
    border-bottom: 1px solid rgba(167, 167, 167, 0.4);
    line-height: 1.1;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal; }
  .project-card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    color: #34364d;
    font-family: "Proxima Nova", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal; }
  .project-card__date {
    margin-bottom: 0;
    line-height: 1; }
  .project-card__min-invest {
    margin-bottom: 0; }

.dashboard {
  position: relative;
  overflow: visible;
  height: 100vh; }
  @media (min-width: 768px) {
    .dashboard {
      min-height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap; } }
  .dashboard__header {
    width: 100%; }
  .dashboard__menu {
    width: 250px; }
  .dashboard.active {
    overflow: hidden;
    height: 100vh; }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #31324c;
  background-image: -webkit-gradient(linear, left top, right top, from(#34364d), to(#292d46));
  background-image: linear-gradient(to right, #34364d, #292d46); }
  @media (min-width: 768px) {
    .header {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      min-height: 92px;
      background-color: transparent;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#f3f8ff), to(#f4f8ff));
      background-image: linear-gradient(to top, #f3f8ff, #f4f8ff);
      -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(224, 237, 245, 0.35);
              box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(224, 237, 245, 0.35); } }
  .header > .container-fluid {
    padding-right: 35px;
    padding-left: 35px; }
  .header__infographics {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    min-height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#34364d), to(#292d46));
    background-image: linear-gradient(to right, #34364d, #292d46); }
    @media (min-width: 768px) {
      .header__infographics {
        width: auto;
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 0;
        padding: 0;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        background-image: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .header__infographics.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .header__infographics .infographics {
    width: 73.5%;
    min-width: 275px; }
    @media (min-width: 768px) {
      .header__infographics .infographics {
        width: auto;
        min-width: 0; } }
  .header__add-jot {
    display: block;
    width: 26.5%; }
    @media (min-width: 768px) {
      .header__add-jot {
        width: auto;
        height: auto;
        margin: 0 0 0 20px; } }
    .header__add-jot-btn {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      white-space: nowrap;
      height: 100%; }
      @media (min-width: 768px) {
        .header__add-jot-btn {
          height: auto; } }
  .header__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__toolbar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 18px 5px; }
    @media (min-width: 768px) {
      .header__toolbar {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        min-width: 300px;
        width: auto;
        padding: 22px 20px 19px;
        padding: 0;
        background-color: transparent; } }
    .header__toolbar-item {
      width: 33.333%; }
      @media (min-width: 768px) {
        .header__toolbar-item {
          width: auto; } }
  .header__toggle {
    display: block;
    width: 25px;
    height: 20px;
    background-image: url("../assets/imgs/icon__burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-size: 0; }
    @media (min-width: 768px) {
      .header__toggle {
        display: none; } }
    .header__toggle--small {
      display: none;
      -webkit-filter: invert(75%);
              filter: invert(75%);
      width: 24px;
      height: 15px;
      background-size: 100% 100%; }
      @media (min-width: 768px) {
        .header__toggle--small {
          display: inline-block; } }
  .header__logotype {
    display: none; }
    @media (min-width: 768px) {
      .header__logotype {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        min-width: 250px;
        max-width: 250px;
        background-color: #34364d; } }
    .header__logotype--mobile {
      display: block;
      text-align: center; }
      @media (min-width: 768px) {
        .header__logotype--mobile {
          display: none; } }
  .header__search {
    display: none; }
    @media (min-width: 768px) {
      .header__search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        min-width: 225px; } }
  .header__ethereum-net {
    display: none; }
    @media (min-width: 768px) {
      .header__ethereum-net {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 20px; } }

.display {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .display {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }

.side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-width: 250px;
  width: 250px;
  height: auto;
  background-image: linear-gradient(to bottom, #232641 92px, #393d52); }
  .side-menu__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    position: relative;
    z-index: 0;
    margin: 0 25px;
    padding: 25px 0; }
    .side-menu__section--fluid {
      margin: 5px 0; }
    .side-menu__section--flexible {
      margin-top: 5px;
      margin-bottom: 5px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden; }
    .side-menu__section--divider:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #3e4155; }
  .side-menu__add-contact:before {
    content: '+ '; }

.menu {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 0;
  height: 100vh;
  -webkit-transition: .4s all ease-in;
  transition: .4s all ease-in; }
  @media (min-width: 768px) {
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      z-index: 0;
      top: auto;
      left: auto;
      min-width: 250px;
      width: 250px;
      height: auto;
      background-image: linear-gradient(to bottom, #232641 92px, #393d52); } }
  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    @media (min-width: 768px) {
      .menu.active {
        width: 250px; } }
  .menu__side-menu {
    overflow-y: scroll;
    width: 73.5%;
    min-width: 275px;
    height: 100%;
    padding: 7px 0;
    background-image: linear-gradient(to bottom, #232641 92px, #393d52); }
    @media (min-width: 768px) {
      .menu__side-menu {
        overflow-y: auto;
        min-width: 0;
        width: 100%;
        padding: 0; } }
  .menu__lining {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .4s ease-in;
    transition: background-color .4s ease-in;
    background-color: rgba(49, 48, 59, 0); }
    .menu.active .menu__lining {
      z-index: -1;
      background-color: rgba(49, 48, 59, 0.8); }
  .menu__block {
    position: relative;
    margin: 0 20px; }
    @media (min-width: 768px) {
      .menu__block {
        margin: 0; } }
    .menu__block--divider:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #3e4155; }
  .menu__jot-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    min-height: 66px; }
    @media (min-width: 768px) {
      .menu__jot-info {
        display: none; } }
  .menu__infographics {
    width: 73.5%;
    min-width: 275px;
    background-color: #2f334e; }
  .menu__add-jot {
    width: 26.5%; }
  .menu__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 20px 26px; }
    @media (min-width: 768px) {
      .menu__profile {
        padding: 0 6px 22px;
        margin: 26px 20px 0; } }
  .menu__user {
    max-width: 185px;
    margin-bottom: 22px; }
  .menu__item {
    width: 100%; }
  .menu__list {
    width: 100%;
    margin-bottom: 0;
    padding: 5px 0;
    list-style: none; }
    .menu__list:first-child {
      margin-bottom: 12px;
      padding-bottom: 7px;
      position: relative; }
      .menu__list:first-child:after {
        position: absolute;
        display: block;
        content: '';
        width: calc(100% - 50px);
        left: 25px;
        top: 100%;
        height: 1px;
        background-color: #3f4160; }
    .menu__list--level--two {
      margin: 0;
      padding: 7px 0;
      background-color: #232641; }
    .menu__list--help {
      padding: 2px 0; }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    min-width: 185px;
    padding: 20px 40px 14px;
    text-transform: uppercase;
    color: #b1b7c7;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal; }
    @media (min-width: 768px) {
      .menu__link {
        padding: 15px 24px 14px 34px; }
        li:not(:last-of-type) .menu__link {
          margin-bottom: 5px; } }
    .menu__link--level--two {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 8px 0 8px 33px;
      text-transform: capitalize; }
      @media (min-width: 768px) {
        .menu__link--level--two {
          padding: 5px 0 5px 25px; } }
    .menu__link--active {
      background-color: #2f334e;
      color: #7b96c4;
      border-right: 4px solid #85a4be; }
    .menu__link[data-message] {
      position: relative; }
      .menu__link[data-message]:after {
        position: absolute;
        top: 50%;
        right: 24px;
        display: inline-block;
        min-width: 68px;
        padding: 3px 10px;
        content: attr(data-message);
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center;
        text-transform: lowercase;
        color: white;
        border-radius: 2px;
        background-color: #ff7864;
        text-shadow: 0 0 7px rgba(1, 13, 46, 0.46);
        font-family: "Montserrat", sans-serif;
        font-size: 11px;
        font-style: normal;
        line-height: 1; }
    .menu__link--help {
      padding: 8px 46px 5px; }
      @media (min-width: 768px) {
        .menu__link--help {
          text-transform: capitalize;
          line-height: 100%;
          padding: 5px 35px 5px;
          margin-bottom: 40px; } }
      .menu__link--help .menu__link-icon {
        display: none; }
    .menu__link-icon {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 20px;
      height: 20px;
      margin-right: 15px; }
      .menu__link--level--two .menu__link-icon {
        margin-right: 25px; }
      .menu__link-icon:before {
        display: block;
        content: ''; }
      .menu__link-icon--liststyle:before {
        position: absolute;
        top: 48%;
        left: calc(50% + 9px);
        width: 6px;
        height: 6px;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: #fff; }
      .menu__link-icon--liststyle--green:before {
        background-color: #7fff75; }
      .menu__link-icon--liststyle--blue:before {
        background-color: #75c0ff; }
      .menu__link-icon--liststyle--purple:before {
        background-color: #b375ff; }
      .menu__link-icon--liststyle--orange:before {
        background-color: #ffb375; }
      .menu__link-icon--liststyle--grey:before {
        background-color: #969696; }
      .menu__link-icon use {
        fill: rgba(211, 217, 228, 0.75); }
        .menu__link--active .menu__link-icon use {
          fill: #7b96c4; }
    .menu__link-text {
      display: inline-block; }
  .menu__sign-out {
    margin-bottom: 10px;
    padding: 0 26px; }
  .menu__logotype {
    display: none; }
    @media (min-width: 768px) {
      .menu__logotype {
        display: block;
        padding: 35px 44px 27px;
        background-color: #34364d;
        margin-bottom: 7px; } }
  .menu__dropdown-icon {
    margin-left: 24px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: -webkit-transform ease-in .2s;
    transition: -webkit-transform ease-in .2s;
    transition: transform ease-in .2s;
    transition: transform ease-in .2s, -webkit-transform ease-in .2s; }
    .menu__dropdown-icon use {
      fill: rgba(255, 255, 255, 0.62); }
    [aria-expanded="true"] .menu__dropdown-icon {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

.content {
  background-color: #eaeef7;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  position: relative; }
  @media (min-width: 768px) {
    .content {
      padding-top: 50px; } }
  @media (min-width: 1200px) {
    .content > .container {
      max-width: calc( 100% - 40px); } }
  .content__narrow {
    padding-right: 168px;
    padding-left: 168px; }
  .content__section {
    position: relative; }
    .content__section:after {
      content: '';
      display: block;
      width: calc(100% - 50px);
      position: absolute;
      left: 25px;
      top: 100%;
      background-color: #d4d4d4;
      height: 1px; }
  .content__ticker {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    min-height: 62px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f9f9f9;
    -webkit-box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
            box-shadow: 2.1px 2.1px 22.1px 1.9px rgba(0, 0, 0, 0.09);
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal; }
    .content__ticker-item {
      margin: 0px 33px;
      white-space: nowrap; }
    .content__ticker-name {
      color: #34364d; }
    .content__ticker-price {
      color: #809eb9; }
